body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between; /* Adjusts the spacing between elements */
  align-items: center; /* Vertically centers the items */
  max-height: 2em;
  background-color: var(--primary-color);
  padding: 0.5em 1em;
  overflow: hidden;
  z-index: 10;
  width: 100%;
  margin: auto;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 1; /* Make the navbar fully opaque */

  box-shadow: 5px 0 10px -4px rgba(31, 73, 125, 0.8),
    -5px 0 8px -4px rgba(31, 73, 125, 0.8);
}


.navbar-center {
  flex: 2; /* Gives the center element enough space to remain centered */
  text-align: center; /* Centers the text within the element */
}
.conMain {
height: 130vh;
margin-top: 100px;
width: 100%;
box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
-12px 0 8px -4px rgba(31, 73, 125, 0.8);
}